.App {
  max-width: 400px;
  margin: 0 auto;
}

.App h3 {
  text-align: center;
}
.TaskList {
  min-height: 50px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid var(--light);
  padding: 8px;
  border-radius: 5px;
}
